*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 15px !important;
  /* font-family: 'Courier New', Courier, monospace; */
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
.pagination_card{
  padding: 15px;
  width: 300px;
  align-items: center;
  height: 300px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #d3d5df;
  box-shadow: 0 4px 7px #d3d5df;
  cursor: pointer;
}
.pagination_card h3{
  font-weight: bold;
}
.maincard{
  display: flex;
  justify-content: space-around;
  /* width: 101%; */
  flex-wrap: wrap;
  width: 95%;
  margin: 5% auto;

}

.pagination_card .full_name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;

}
.pagination_card .full_name img{
  border: 2px solid;
  border-radius: 50%;
}
.avatar_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span{
  font-weight: 400;
}
.btns{
  position: fixed;
  bottom: 2%;
  width: 100%;
  padding: 0px 31%;

}
.btn-parent{
  overflow: hidden;
  display: flex;
  position: relative;
  height: 50px;

}
.btn-child{
  display: flex;
  position: relative;
  height: 50px;
    /* transform: translateX(-125px); -48px */
}

.btns .btn{
  width: 50px;
  height: 100%;
  border: none;
  margin-right: 2px;
  cursor: pointer;
  background: #dccfcf;
  
}
.btn-right{
  position: absolute;
  right: 0;
  top: 0;
}
.btns .btn-left,.btns .btn-right{
  background-color: #017aff;
  border: none;
  cursor: pointer;
  margin-right: 2px;
  color: #fff;
  width: 50px;
  height: 100%;
  
}
.btn-left{
  position: absolute;
  left: 0;
  z-index:1;
}
.btns .btn-left:hover,.btns .btn-right:hover{
  background-color: #3781d0;

}
.btns .btn:hover{
  background-color: #d3d5df;
}
.filtering-category{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}
.filtering{
  margin: 5% 0;
text-transform: uppercase;
}

.gender input{
  visibility: hidden;
  position: absolute;
}
.filters{
  border-bottom: 1px solid;
}
.submit-form{
  margin-top: 25%;
  display: flex;
  justify-content: center;
}
.btn,.btn:hover{
    border-color: #6c757d;
}
.nav-item{
  margin-right: 10px;
}
.cartemptypage{
  background-image: url(https://img.freepik.com/premium-photo/empty-shopping-cart-outside-as-th-symbol-crisis-bad-economy_63762-6407.jpg?w=996);
  margin-top: 3%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 5% auto;
}
.cart-items-parent{
  margin-top: 5%;
}
.goback{
  position: fixed;
    left: 50%;
    top: 50%;
}
@media screen and (max-width:600px) {
  *{
    font-size: 15px !important;
  }
  .pagination_card{
    height: 200px;

  }
  .full_name img{
    width: 65px;
  }
  .btns .btn-left,.btns .btn-right{
    padding: 8px;
  }
  .btns .btn{
    padding: 8px;
  }
  .btns{
  padding: 0px 18%;

  }
  .maincard{
  margin: 20% auto;

  }
  .cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 25% auto;
}
.cart-items-parent{
  margin-top: 25%;
}
}